body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Section */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-heading{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-heading h3{
    color:#0B0223;
    font-size: 45px;
    font-weight: 700;
}
.nav-tittle{
    color: #FF42A5;
}
.nav-items{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-items-2{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 0px;
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Main Section */

/* Banner Part */
.main-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin: auto;
}
.banner-content h2{
     color: #0B0223;
     font-size: 48px;
     font-weight: 600;
     margin-bottom: 0px;
}
.banner-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-size: 95px;
     font-weight: 800;
     margin-top: 0px;
     margin-bottom: 0px;
}
.banner-content p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}
.signin-btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 18px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight:600;
    border: none;
}
.rogue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight:600;
    padding: 18px 30px;
    border: none;
}
.banner-image img{
    width: 100%;
}

/* Online Games Part-1 */

.games-container{
    width: 75%;
    margin: auto;
    text-align: center;
}
.games-container h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 800;
}
.games-tittle{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.games-container p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.games-list{
    display: flex;
    gap: 20px;
}

/* Online Games Part-2 */

.online-games{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
}
.online-games-image img{
    width: 100%;
}
.online-games-image{
    position: relative;
}
.small img{
    width: 200px;
}
.small{
    position: absolute;
   left: 70%;
   top: 55%;
}

.online-games-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-games-content{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}



/* Games List Part  */
.games-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 48px;
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
    background: #FFF;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 250px;
    padding: 5px
}
.games-btn:hover{
    border: 1px solid  #F948B2;
    color:#F948B2 ;
    cursor: pointer;
}
.games-category{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    gap: 20px;
}
.games-btn img{
    width: 50px
}













/* Media Queries For Mobile */
@media screen  and (max-width:576px){
    nav,.nav-items{
        display: flex;
        flex-direction: column;
    }
    .main-banner{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        margin-top: 50px;
        gap: 20px;
       background-image: none;
    }
    .banner-content{
        background-image: url("./images/Group\ 14.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px;
    }
    .games-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    .games-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .online-games{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .online-games-image img{
        width: 280px;
    }
    .small img{
        width: 130px;
    }
    .games-category{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        margin: 70px auto 70px auto;
        gap: 10px;
        
    }
    .games-btn{
        width: 100%;
        margin: auto;
        font-size: 14px;
    }
    .games-category img{
        width: 40px;
    }

    
}






/* Media Queries For Tablet */

@media screen  and (min-width:576px) and (max-width:960px){
    nav,.nav-items,.online-games{
        display: flex;
        flex-direction: column;
    }
    .main-banner{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        margin-top: 50px;
    }
    .banner-image img{
        width: 100%;
    }
    .games-container{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .games-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .games-list img{
        width: 100%;
    }

    .online-games{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .online-games-image img{
        width: 100%;
    }
    .small img{
        width: 250px;
    }
    .games-category{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin: 100px auto 100px auto;
    }
    .games-btn{
        width: 100%;
        margin: auto;
    }
    .games-category img{
        width: 60px;
    }
}